<!DOCTYPE html>
<html>
  <head>
    <title>PerformantOauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container end-user-view">
      <p class="text-info"><%= notice %></p>
      <p class="text-warning"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
